.awesome {
    width: 100%;
    background-color: #ffffff;
}


.container{
    max-width: 1400px;
    
    /* margin: 108px; */
    /* border: 1px solid black; */
}

.awesome-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #212121;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}


.awesome-title::after {
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ff8d2d;
    width: 64px;
    
}
.awesome-text {
    text-align: center;
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
    margin-top: 30px;
    margin-bottom: 80px;
}

.awesome-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 104px auto;
    
}

.item p{
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;

    text-align: center;
    font-size: 14px;
    
}

.item-icon {
    
    margin: 0 auto;
    width: 70px;
    height: 70px;
    
}
.item-title {
    color: #333333;
font-family: "Open Sans";
font-size: 20px;
font-weight: 700;

    margin-top: 29px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;

}


/* ________________________________ */


.pricing {
    background-color: #f5f5f5;
}


.pricing-content__title{

text-align: center;
margin-bottom: 30px;
padding-top: 30px;
color: #212121;
font-family: Raleway;
font-size: 36px;
font-weight: 400;
font-style: normal;

}

.pricing-content__title::after {
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ff8d2d;
    width: 64px;

}

.pricing-content__text{
text-align: center;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
margin-top: 30px;
margin-bottom: 80px;
}

.list-pricing-item{
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 96px;;

}

.list-pricing-item__column{
    margin: 0 40px 0 40px;
    width: 343px;
    
}
.list-pricing-item__column span {
    font-size: 35px;
    vertical-align: bottom;

}



.option-list{

    line-height: 40px;
    font-family: "Open Sans";
    border-bottom: 1px solid#f5f5f5;
    background-color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    color: #86878b;
    text-align: center;

}


.options-name {
    font-family: "Open Sans";  
    padding: 21px 0 21px 0;
    border: 1px solid #ffffff;
    text-align: center;
    background: #333333;
    font-size: 20px;
    color: #ffffff;
    line-height: 24px;
    font-weight: 700;
}

.option-price {
    background-color: #333333;
    padding-top: 30px;
    padding-bottom: 2px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-family: Raleway;  
    font-weight: 700;
    text-align: center;
    font-size: 94px;  

}


.option-period {  
background-color: #333333;
color: #ffffff;
font-family: "Open Sans - Semibold";
font-size: 14px;
font-weight: 400;
font-style: italic;
text-align: center;
}

.list-underline {
    text-align: center;
    border: 2px solid #ff8b38;
    background-color:   #ff8b38;
    color: #ffffff;
}

.stylish {
    width: 100%;
    /* height: 100vh; */
   
    background-image: url(/img/stylish.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 63px;
}


.stylish-title{
    padding-top: 75px;
    text-align: center;
    color: #ffffff;
    font-family: Raleway;
    font-size: 36px;
    font-weight: 400;
}

.stylish-title::after{
    content: " ";
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #ffffff;
    width: 64px;
}


.stylish-text p {
    text-align: center;
    color: #ffffff;
    font-family: Raleway;
    opacity: 0.8;
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 33px;;
}

.stylish-button {
    width: 135px;
    margin: 0 auto;
    border: 2px solid white;
    text-align: center;
    line-height: 30px;  

}

.stylish-button:hover{
 
    text-transform: uppercase;
    background-color: #0c0c0c;
    cursor: pointer;
    
    
    transition: .5s;
  

}

.button-text {
 
color: #ffffff;
font-family: "Open Sans - Semibold";
font-size: 15px;
font-weight: 400;
}




.social {
   
    width: 100%;
    background-color: black;
    padding: 40px 0 40px 0;
}

.social-list{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: 317px;
    
    
   
}

.social-icon:hover{
    width: 28px;
    content: url(/img/twithover.png);
    transition: 0.2;
    cursor: pointer;
    margin-bottom: -4px;

}

.social-icon {
    width: 24px;
    
}

.themes {
    margin-top: 15px;
    text-align: center;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 12px;
    font-weight: 400;
    opacity: 0.5;
    

}

.customers {
    width: 100%;
}

.customers-title{
padding-top: 108px;
text-align: center;
text-transform: uppercase;
color: #212121;
font-family: Raleway;
font-size: 36px;
font-weight: 400;
margin-bottom: 30px;
}

.customers-title::after{
content: " ";
display: block;
margin: 0 auto;
margin-top: 30px;
margin-bottom: 30px;
border-bottom: 2px solid #ff8d2d;
width: 64px;
}


.customers-text {
    
    color: #86878b;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
    text-align: center;
    margin-bottom: 55px;
    
    
    
}

.customers-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    width: 100%;
    max-width: 1057px;
    margin: 0 auto;
    
    
}

.customers-card__item{

    width: 100%;
    max-width: 273px;
    
    position: relative;
    padding-bottom: 100px;


}



.customers-card__text{
    background-color: #f5f5f5;
    line-height: normal;
    padding: 22px 12px;
    margin-bottom: 22px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.customers-card__text::after{
    content: "";
    position: absolute;
    border: 20px solid transparent; border-top: 20px solid #f5f5f5;
    top: 135px;
    left: 11px;
}

.customers-card__icon{
    display: flex;
    justify-content: flex-start;
}

.about-customers{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    
  
    
}

.customers-name{
    color: #333333;
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 700;
}

.customers-postiion{
    margin-top: 8px;
    color: #86878b;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;

}
