.section {
    width: 100%;
}
.awesome {
    width: 1400px;
}
.container{
    max-width: 1400px;
    background-color: #ffffff;
    padding: 108px;
}

.awesome-title {
    text-align: center;
    margin-bottom: 30px;
    color: #212121;
    font-family: serif;
    font-size: 36px;
    font-weight: 400;
    font-style: normal;
}


.awesome-line {
    margin: 0 auto;
    width: 64px;
    border-bottom: solid;
    color :#ff8d2d
    
}
.awesome-text {
    text-align: center;
    font-family: "Open Sans";
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 80px;
}

.awesome-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
}

.item p{

    text-align: center;
    font-size: 14px;
    
}

.item-icon {
    
    margin: 0 auto;
    width: 70px;
    height: 70px;
    
}
.item-title {

    margin-top: 29px;
    margin-bottom: 25px;
    font-size: 20px;
    text-align: center;
    
}
